body {
    background-color: #fff;
}

.bg-color-1 {
    background-color: #0c3d78;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    width: 240px;
}

.sidebar a {
    color: #0c3d78;
    text-decoration: none;
    padding: 5px 10px;
}

.sidebar a:hover {
    background-color: #0c3d78;
    color: #fff;
}